#edit-submit {
  width: auto;
}

// Ensure our styles get shown
// Overwriting rules in _normalize
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: normal !important;
  -moz-appearance: normal !important;
  -webkit-appearance: normal !important;
}

.media-widget .button,
.lacuna-button,
.form-submit,
.page-turner-bookmark-button,
.af-button-large,
input[id^='edit-actionsewing-kit-stitch'],
input[id^='edit-actionviews-data-export-action-csv-export']{
  background-color: #c4df2c;
  background-image: linear-gradient(to bottom, #c4df2c, #88b551);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 6px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  width: 135px;
  margin-right: 5px;
}
.vbo-table-select-all-pages.form-submit {
  width: 200px;
}

.lacuna-button:hover,
.lacuna-button:focus,
.page-turner-bookmark-button:hover,
.page-turner-bookmark-button:focus,
.form-submit:hover,
.form-submit:focus,
.af-button-large:hover,
.af-button-large:focus,
input[id^='edit-actionsewing-kit-stitch']:hover,
input[id^='edit-actionsewing-kit-stitch']:focus,
input[id^='edit-actionviews-data-export-action-csv-export']:hover,
input[id^='edit-actionviews-data-export-action-csv-export']:focus {
  background-color: #88b551;
  color: #FFFFFF;
  background-position: 0 -15px;
  text-decoration: none;
  transition: background-position 0.1s linear 0s;
}
.lacuna-button.lacuna-button-blue,
.page-turner-bookmark-add {
  background-color: #78cefd;
  background-image: linear-gradient(to bottom, #78cefd, #1588ba);
}
.lacuna-button.lacuna-button-blue:hover,
.lacuna-button.lacuna-button-blue:focus,
.page-turner-bookmark-add:hover,
.page-turner-bookmark-add:focus {
  background-color: #1588ba;
}

.lacuna-button a {
  color: #FFFFFF;
}

.lacuna-button-short {
  width: auto !important;
  font-size: default !important;
}

.form-submit {
  background-color: #92a6c4;
  background-image: linear-gradient(to bottom, #92a6c4, #39404a);
}
.form-submit:hover,
.form-submit:focus{
  background-color: #39404a;
}

#response-node-form #edit-body-und-0-format,
#comment-form #edit-comment-body-und-0-format{
  display: none;
}

.publish-button {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

// Display flag actions as buttons
.view-curate-tags {
  .flag-link-toggle {
    @extend .lacuna-button;
    @extend .lacuna-button-short;
  }
  .unflag-action {
    @extend .lacuna-button-blue;
    @extend .lacuna-button-short;
  }
  .flag-action {
  }
}

