/*moving course title to top of page*/
.course-name {
    position: relative;
    top: -100px;
}

/*views fluid grid styling for enrolled courses view*/
.views-fluid-grid-item {
	background-color: #fafafa !important;
	border: 1px solid #e1e1e1 !important;
	-webkit-transition: all 1s ease;
	padding-bottom: 20px !important;
}

li.views-fluid-grid-inline.views-fluid-grid-item.views-row:hover {
	box-shadow: 0px 0px 10px 0px black;
}


.course-views-image {
	img {
		width: 100%;
		border: 1px solid #e1e1e1;
		border-bottom: 2px solid rgba(16,15,15,0.49);
	}
}


.view-courses {
  .views-field {
    padding-left: 10px;
    font-family: "Source sans pro", sans-serif;
  }
  .views-field-title {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .views-field-field-name,
  .views-field-body {
    position: relative;
  }
  .views-field-field-course-year,
  .views-field-field-course-id {
    font-size: 0.9em;
  }
  .views-field-field-course-id,
  .views-field-field-name {
    padding-bottom: 10px;
  }
  .views-field-field-name {
    font-weight: 600;
  }
  .views-field-body {
    line-height: 1.2em;
  }
}

/*styling for front page banner*/
@media (min-width:1200px) { .banner-wrapper {
    height: 400px;
    /*width: 100%;*/
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 50%);
    width: 300%;
    margin-left: -36.5%;

}

.lacuna-stories-about {
    /*border: 1px solid black;*/
    width: 30%;
    min-width: 400px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(47%, 20%);
    -webkit-transform: translate(47%, 20%);
    float: left;
    vertical-align: baseline;
}

.annotating span {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -.075em;
    font-size: 48px;
    color: #000000;
    line-height: 58px;
}

.annotating {
    /*padding-bottom: 20px;*/
}

.ls-button {
    padding: 18px 20px;
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
}

.lacuna-stories-image {
    float: right;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-image: url(http://stanford.lacunastories.com/sites/default/files/styles/large/public/Screenshot%202015-08-18%2011.49.41.png?itok=vmQEav_2);
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    transform: translatex(-501%);
    -webkit-transform: translatex(-501%);
    box-shadow: 3px 0px 5px 0 #666464;
}
body {
	overflow-x: hidden;
}


#page {
    overflow-x: visible !important;
}


}

@media (max-width: 1199px) and (min-width: 965px) {
	.banner-wrapper {
    height: 400px;
    width: 100%;
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 50%);

}

.lacuna-stories-about {
    /*border: 1px solid black;*/
    width: 30%;
    min-width: 400px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(20%, 20%);
    -webkit-transform: translate(20%, 20%);
    float: left;
    vertical-align: baseline;
}

.annotating span {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -.075em;
    font-size: 48px;
    color: #000000;
    line-height: 58px;
}

.annotating {
    /*padding-bottom: 20px;*/
}

.ls-button {
    padding: 18px 20px;
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
}

.lacuna-stories-image {
    float: right;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-image: url(http://stanford.lacunastories.com/sites/default/files/styles/large/public/Screenshot%202015-08-18%2011.49.41.png?itok=vmQEav_2);
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    /*transform: translatex(-35%);*/
    box-shadow: 0px 0px 5px 0 black;
}
}

@media (max-width: 965px) and (min-width: 541px) {
	.banner-wrapper {
    height: 400px;
    width: 100%;
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 50%);

}

.lacuna-stories-about {
    /*border: 1px solid black;*/
    /*width: 30%;
    min-width: 400px;*/
    position: relative;
    top: 0;
    left: 0;
    transform: translate(25%, 15%);
    -webkit-transform: translate(25%, 15%);
    float: left;
    vertical-align: baseline;
}

.annotating span {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -.075em;
    font-size: 48px;
    color: #000000;
    line-height: 58px;
}

.annotating {
    /*padding-bottom: 20px;*/
}

.ls-button {
    padding: 18px 20px;
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
}

.lacuna-stories-image {
    /*float: right;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-image: url(http://s4.postimg.org/o8uky8ixp/Screenshot_2015_08_11_16_29_19.png);
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    /*transform: translatex(-35%);*/
    /*box-shadow: 0px 0px 5px 0 black;*/
    display: none;
}
}

@media (max-width: 540px) {
.banner-wrapper {
    height: 250px;
    width: 100%;
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 90%);
}

.lacuna-stories-about {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    width: 80%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 90%);
    -webkit-transform: translate(0%, 90%);
}

.lacuna-stories-image {
	display: none;
}

.ls-button {
	display: none;
}

.annotating span {
	font-family: "Source Sans Pro", sans-serif;
    /*font-size: 25px;*/
    color: #000000;
    line-height: 20px;
}
}


/*styling for "about this course" page*/
.node-course {
    .group-header {
        width: 100%;
        height: 35vh;
        overflow: hidden;
        border-bottom: 1px solid #d1d5d3;
    }

    .field-name-field-course-image img {
        width: 100%;
        height: auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .field-name-field-course-title {
        font-family: "Source Sans Pro", serif;
        font-size: 3em;
        padding-top: 25px;
        padding-bottom: 10px;
        text-align: left;
        letter-spacing: -.03em;
        text-transform: uppercase;
        color: #1588ba;
        line-height: 1em;
        margin-left: 5%;
        margin-right: 5%;
    }

    .field-name-field-name {
      margin-left: 5%;
      margin-right: 5%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 2em;
    }

    .field-name-field-department {
      margin-left: 5%;
      margin-right: 5%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.5em;
    }

    .field-name-body {
      margin-left: 5%;
      margin-right: 5%;
      text-align: justify;
    }

    .group-left {
      width: 58%;
    }

    .group-right {
      width: 40%;
      box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.15);
      border: 1px solid #d1d5d3;
      margin-top: 40px;
    }
    .field-name-field-course-term {
      margin-left: 10%;
      margin-right: 20%;
      border-bottom: 1px dotted #d1d5d3;
      padding-top: 25px;
        .field-items {
          float: right;
        }
    }
    .field-name-field-course-year {
      margin-left: 10%;
      margin-right: 20%;
      border-bottom: 1px dotted #d1d5d3;
        .field-items {
          float: right;
        }
    }
    .field-name-field-course-id {
      margin-left: 10%;
      margin-right: 20%;
      border-bottom: 1px dotted #d1d5d3;
        .field-items {
          float: right;
        }
    }
    .field-name-field-start-date {
      margin-left: 10%;
      margin-right: 20%;
      border-bottom: 1px dotted #d1d5d3;
        .field-items {
          float: right;
        }
    }
    .field-name-field-end-date {
      margin-left: 10%;
      margin-right: 20%;
      border-bottomn: 1px dotted #d1d5d3;
        .field-items {
          float: right;
        }
    }
}

/*styling for "enroll" button on course pages*/
.enroll-button {
    margin-left: 3%;
    font-size: 1em;
    width: auto;
    font-family: "Source Sans Pro", sans-serif;
}
